<form method="POST" action="/">
  <div>
    <label>Firstname</label>
    <input name="firstName" type="text">
  </div>
  <div>
    <label>Lastname</label>
    <input name="lastName" type="text">
  </div>
  <div>
    <label>Email</label>
    <input name="email" type="email">
  </div>
  <button type="submit">Add</button>
</form>